################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LogFlow.Core/bin
/.vs/LogFlow
/LogFlow.Core/obj
/LogFlow.Tests/bin
/LogFlow.Tests/obj
/LogFlow.BenchMark/bin
/LogFlow.BenchMark/obj
